* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
button.btn.btn-primary {
  position: relative;
}
button.btn {
  position: absolute;
  right: 0;
  top: 0;
}
div#offcanvasRight {
  visibility: visible !important;
}
.offcanvas-end {
  top: 0;
  right: 32%;
  width: 32%;
  border-left: none;
  transform: translateX(100%);
}
.offcanvas-header .btn-close {
  display: none;
}
.offcanvas-header {
  display: none;
}

.setting.mt-4 {
  display: flex;
  justify-content: space-between;
}
.setting-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting-left i.fa.fa-question-circle {
  margin: 0 10px 4px;
  background-color: #ebebfc;
  border-radius: 50%;
  padding: 5px;
}
.setting-right i {
  padding: 0 10px;
}
i.fa.fa-volume-up {
  margin: 0 3px;
  padding: 10px 10px;
  font-size: 20px;
  background: #ebebfc;
  border-radius: 50%;
  cursor: pointer;
}
i.fa.fa-volume-up.d {
  margin: 0 3px;
  padding: 10px 10px;
  font-size: 20px;
  background: #2f45c5;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}
i.fa.fa-sm-word {
  margin: 0 3px;
  padding: 10px 10px;
  font-size: 20px;
  background: #2f45c5;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}
i.fa.fa-sm-words {
  margin: 0 3px;
  padding: 10px 10px;
  font-size: 20px;
  background: #ebebfc;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
}
select#car {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Gilroy-SemiBold";
}
select#cars {
  font-weight: bold;
  cursor: pointer;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 7px 25px;
}
#s1 {
  background-color: #f8f9fa;
}
.reverse {
  display: flex;
  justify-content: space-between;
}
.col-4.fieldsettoggle.form-check.form-switch {
  display: flex;
  justify-content: flex-end;
}
.title-section {
  font-size: 11px;
  font-weight: 100;
  margin: 8px 0 0 0;
}
.bg-grey {
  background-color: #ebebfc;
  border-radius: 15px;
  margin: 8px 0;
  padding: 10px 10px;
}
@media (max-width: 975px) {
  button.btn {
    display: block;
  }
  div#offcanvasRight {
    visibility: visible;
  }
  .offcanvas-end {
    top: 0;
    right: 0px;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  .offcanvas-header .btn-close {
    display: block;
  }
  .offcanvas-header {
    display: flex;
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
  }
  .back-video {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  path {
    color: #000;
  }
}
@media (max-width: 767px) {
  svg.button {
    width: 300px;
    height: 304px;
  }
  .banner-shadow {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .logo {
    width: 100px;
  }
  i.fa.fa-play,
  i.fa.fa-pause {
    top: 46%;
    left: 48%;
  }
  select#cars {
    border-radius: 10px;
    padding: 7px 20px;
  }
  .setting-right i {
    margin: 0 5px;
  }
}
