.content p {
  color: #979797;
}
.forget-password {
  text-align: end;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: #979797;
}
a:hover {
  text-decoration: none;
  color: #979797;
}

h3 {
  font-family: "Riffic Free Bold";
}
.link {
  color: #979797;
  padding: 30px 0;
  font-weight: 600;
}
.link a {
  color: #343a40;
}
button.btn.btn-primary {
  background: #2f45c5;
  opacity: 0.9;
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #ebebeb;
  text-transform: lowercase;
}

/* input.form-control {
  font-weight: 400;
} */
.control-button .fa {
  color: #a7a4a4;
}
input.form-control::placeholder {
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
}
p {
  color: #979797;
}
@media (max-width: 767px) {
  #login,
  #signup {
    width: 320px;
    margin: 0 auto;
  }
}
