#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.back-video {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 56px;
  border-bottom-right-radius: 56px;
}
.back-video video {
  object-fit: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
video {
  height: 100%;
  overflow: hidden;
}
.banner-shadow {
  position: absolute;
  top: 5%;
  left: 20%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}
.logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.number {
  position: absolute;
  top: 10%;
  left: 50%;
}
i.fa.fa-play,
i.fa.fa-pause {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}
p.content {
  top: 80%;
  position: absolute;
  left: 43%;
}
@keyframes circle1 {
  100% {
    r: 26%;
  }
  50% {
    r: 22%;
  }
  25% {
    r: 15%;
  }
  0% {
    r: 26%;
  }
}
@keyframes circle2 {
  100% {
    r: 26%;
  }
  50% {
    r: 22%;
  }
  25% {
    r: 15%;
  }
  0% {
    r: 26%;
  }
}
.innerCircle1 {
  animation-name: circle1;
  animation-duration: unset;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
  transition: all ease-in-out;
}
.innerCircle2 {
  animation-name: circle2;
  animation-duration: unset;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
  transition: all ease-in-out;
}
@keyframes example1 {
  from {
    stroke-dashoffset: 1256;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes example2 {
  from {
    stroke-dashoffset: 1256;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#shape {
  transform: scaleX(1) rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
  stroke-width: 15;
}

.circle2 {
  animation-name: example1;
  transform: rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.circle1 {
  animation-name: example2;
  transform: rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
}
p#prop {
  top: 28%;
  position: absolute;
  left: 50%;
  color: #fff;
}
p#name {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
button.start-over {
  position: absolute !important;
  right: 40% !important;
  top: 80% !important;
  transform: translate(-50%, -50%);
  background-color: #fd7279 !important;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.gilroyHeavy {
  font-family: Gilroy-Heavy !important;
}
#staticBackdrop .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  right: 75%;
  top: 60px;
  height: 80vh;
  overflow: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  outline: 0;
  font-family: "Gilroy-SemiBold";
}
#staticBackdrop .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
}
#staticBackdrop1 .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 850px;
  right: 80%;
  top: 60px;
  height: 80vh;
  overflow: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  outline: 0;
  font-family: "Gilroy-SemiBold";
}
#staticBackdrop1 .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
}
.modal-content li,
.modal-content h5 {
  font-family: "Gilroy-SemiBold";
}
.modal-content p {
  color: #000;
  font-family: "Gilroy-SemiBold";
}
@media (max-width: 1030px) {
  #staticBackdrop .modal-content {
    display: flex;
    flex-direction: column;
    width: 650px;
    right: 49%;
    top: 75px;
    height: 80vh;
  }
  #staticBackdrop1 .modal-content {
    display: flex;
    flex-direction: column;
    width: 650px;
    right: 49%;
    top: 75px;
    height: 80vh;
  }
}
@media (max-width: 900px) {
  #staticBackdrop .modal-content {
    width: 600px;
    right: 10%;
    top: 50px;
    height: 90vh;
  }
  #staticBackdrop1 .modal-content {
    width: 600px;
    right: 10%;
    top: 50px;
    height: 90vh;
  }
}
@media (max-width: 600px) {
  #staticBackdrop .modal-content {
    width: 400px;
    right: 0%;
    top: 0px;
    height: 95vh;
  }
  #staticBackdrop1 .modal-content {
    width: 400px;
    right: 0%;
    top: 0px;
    height: 95vh;
  }
}
@media (max-width: 400px) {
  #staticBackdrop .modal-content {
    width: 350px;
    right: 0%;
    top: 0px;
    height: 85vh;
  }
  #staticBackdrop1 .modal-content {
    width: 350px;
    right: 0%;
    top: 0px;
    height: 85vh;
  }
}
