#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.back-video {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 56px;
  border-bottom-right-radius: 56px;
}
.back-video video {
  object-fit: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
video {
  height: 100%;
  overflow: hidden;
}
.banner-shadow {
  position: absolute;
  top: 5%;
  left: 20%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}
.logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.number {
  position: absolute;
  top: 10%;
  left: 50%;
}
i.fa.fa-play,
i.fa.fa-pause {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}
p.content {
  top: 80%;
  position: absolute;
  left: 43%;
}
@keyframes circle1 {
  100% {
    r: 26%;
  }
  50% {
    r: 22%;
  }
  25% {
    r: 15%;
  }
  0% {
    r: 26%;
  }
}
@keyframes circle2 {
  100% {
    r: 26%;
  }
  50% {
    r: 22%;
  }
  25% {
    r: 15%;
  }
  0% {
    r: 26%;
  }
}
.innerCircle1 {
  animation-name: circle1;
  animation-duration: unset;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
  transition: all ease-in-out;
}
.innerCircle2 {
  animation-name: circle2;
  animation-duration: unset;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
  transition: all ease-in-out;
}
@keyframes example1 {
  from {
    stroke-dashoffset: 1256;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes example2 {
  from {
    stroke-dashoffset: 1256;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#shape {
  transform: scaleX(1) rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
  stroke-width: 10;
}

.circle2 {
  animation-name: example1;
  transform: rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.circle1 {
  animation-name: example2;
  transform: rotate(-90deg);
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-timing-function: linear;
}
p#prop {
  top: 28%;
  position: absolute;
  left: 50%;
  color: #fff;
}
p#name {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
