.dropdown-menu {
  transform: translate(208px, 40px);
}
.dropdown-menu.show {
  display: block;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 #dadada !important;
}
.dropdown button,
select {
  text-transform: none;
  background: transparent;
  text-align: center;
}
.dropdown {
  display: flex;
  justify-content: flex-end;
}
img.headerIcon {
  width: 35px;
  border-radius: 50%;
  height: 35px;
}
.user {
  text-align: right;
  margin-right: 15px;
  font-family: "Gilroy-SemiBold";
}
.user h4 {
  font-family: "Gilroy-SemiBold";
}
