.dropdown-menu {
  transform: translate(208px, 40px);
}
.dropdown button,
select {
  text-transform: none;
  background: transparent;
  text-align: center;
}
.dropdown {
  display: flex;
  justify-content: flex-end;
}
img.headerIcon {
  width: 35px;
  border-radius: 50%;
  height: 35px;
}
.user {
  text-align: right;
  margin-right: 15px;
}
