.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.information-content p {
  margin-bottom: 0;
}
button.pen {
  width: 20px;
  margin: 0 auto;
  background: #2f45c5;
  border-radius: 50%;
  padding: 6px 17px;
  position: absolute;
  right: 4%;
}
button.tick {
  width: 26px;
  margin: 0 auto;
  background: #2f45c5;
  border-radius: 50%;
  padding: 6px 17px;
  position: absolute;
  right: 15%;
}
button.cancel {
  width: 20px;
  margin: 0 auto;
  border: 1px solid #2f45c5;
  border-radius: 50%;
  padding: 6px 17px;
  position: absolute;
  right: 4%;
}
button.slide {
  width: 26px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 10px 20px;
  position: absolute;
  background-color: #ebebfc;
  cursor: pointer;
  top: 0%;
}
i.fa.fa-arrow-left {
  margin-left: -7px;
}
i.fa.fa-check {
  margin-left: -8px;
  color: #fff;
}
i.fa.fa-times {
  margin-left: -5px;
  color: #000;
}
i.fa.fa-pencil {
  margin-left: -5px;
  color: #fff;
}
.image_Uploader i.fa.fa-pencil {
  position: absolute;
  cursor: pointer;
  bottom: 17%;
  left: 25%;
  background: transparent;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #2f45c5;
  color: #2f45c5;
  width: 10%;
}
.avatar {
  height: 110px;
  width: 110px;
  cursor: pointer;
}
.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.col-12.image_Uploader {
  position: relative;
  margin-bottom: 40px;
}
.p-1 {
  position: relative;
}
.information-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.content p {
  color: #979797;
  margin-bottom: 0;
}
/* crop css */
.crop-box {
  top: 125px;
  z-index: 100;
  position: absolute;
  left: 22%;

  padding: 20px;
  width: 100%;
  margin: auto auto;
  background: #fff;
  padding: -12px 19px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  border-radius: 34px;
}
.preview-box {
  top: 125px;
  z-index: 99;
  position: absolute;
  left: 22%;
  padding: 20px;
  width: 100%;
  margin: auto auto;
  background: #fff;
  padding: -12px 19px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  border-radius: 34 px;
}
.bg-danger.rounded.save-button.mx-auto {
  text-align: center;
}
.bg-success.rounded.save-button.mx-auto.my-1 {
  text-align: center;
}
button.bg-success.rounded.m-1.save-button {
  width: 100%;
}
