@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("fonts/Gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("fonts/Gilroy/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Riffic Free Bold";
  src: url("fonts/RifficFree/RifficFree-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Gilroy-Bold";
}
a:hover {
  color: #222;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
  width: 100%;
}
.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.login {
  padding: 8px 22px;
  border-radius: 10px;
  margin-right: 10px;
}
.login:hover {
  color: #fff;
  background-color: #cecece;
  border-color: #fff;
  border-radius: 10px;
  transition: 0.2s linear;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: #2f45c5;
  border-color: #2f45c5;
  padding: 8px 18px;
  border-radius: 10px;
}
.btn-primary:hover {
  transition: 0.2s linear;
}
/* login css */
#login,
#signup {
  width: 450px;
  margin: 0 auto;
}
.images {
  width: 200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}
.images img {
  width: 100%;
}
.form-control {
  width: 100%;
  margin: 0 auto;
  border: 0;
}
:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  color: #212529;
  background-color: transparent;
  box-shadow: none !important;
}
::placeholder {
  color: #000;
  font-weight: bold;
}
button.btn.btn-primary {
  width: 100%;
}
button.btn.btn-primary {
  width: 100%;
}

.btn-primary:focus {
  box-shadow: none !important;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 2rem 1rem 1rem;
  overflow-y: auto;
}
